
@model KnowledgeBaseViewModel

<style>

    form {
        padding: inherit;
        margin: 5px 5px 5px 5px;
        border: 2px solid black;
    }

    #inputSlug {
        margin: left;
        padding: left;
        width: 850px;
    }



    button {
        margin: 40px;
        padding: 70px;
    }


    #requestacallform {
        width: 250px;
    }

    #editor {
        width: 100%;
        height: 200px;
    }

    #snackbar {
        background-color: green;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }


        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    #snackbardanger {
        background-color: red;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbardanger.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    @@-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    @@keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }
</style>


<div class="container p-3 my-3 border fixed" id="div1">

    <form asp-action="AddKnowledge" asp-controller="Knowledge">
        <div class="row">
            <div class="col">


                <div class="form-group row">
                    <label for="inputKnow" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-7">
                        <select class="form-control" asp-for="AddKnowledgeBase.CategoryId" id="school" asp-items="Model.Categories">
                            <option disabled selected hidden>Select Category</option>
                        </select>
                        <span asp-validation-for="AddKnowledgeBase.CategoryId" class="text-danger"></span>

                    </div>
                </div>
                <br />

                <div class="form-group row">
                    <label for="inputKnow" class="col-sm-2 col-form-label">Doc Title</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputDoc" placeholder="Doc Title" asp-for="AddKnowledgeBase.DocTitle">
                        <span asp-validation-for="AddKnowledgeBase.DocTitle" class="text-danger"></span>
                    </div>
                </div>
                <br />


                <br />
                <br />

            </div>
            <div class="col">

                <a href="" data-toggle="modal" data-target=".bannerformmodal">+Add Category</a>
                <br />

                <div class="form-group row">
                    <label for="inputKnow" class="col-sm-2 col-form-label">Sub Title</label><br />
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputSubtitle" placeholder="Sub Title" asp-for="AddKnowledgeBase.SubTitle">
                        <span asp-validation-for="AddKnowledgeBase.SubTitle" class="text-danger"></span>

                    </div>
                </div>
                <br />


            </div>


            <div class="form-group row">
                <label for="inputKnow" class="col-sm-1 col-form-label">Slug Url</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputSlug" placeholder="Slug Url" asp-for="AddKnowledgeBase.SlugUrl">
                    <span asp-validation-for="AddKnowledgeBase.SlugUrl" class="text-danger"></span>

                </div>
            </div>
            <br />

            <br /><br /><br />

            <div class="form-group row">

                <label for="inputKnow" class="col-sm-1 col-form-label">Add Content</label>
                <div class="col-sm-7">

                    <textarea id="editor" placeholder="Add Content" asp-for="AddKnowledgeBase.AddContent"></textarea>
                    <span asp-validation-for="AddKnowledgeBase.AddContent" class="text-danger"></span>

                </div>
            </div>
            <br /><br /><br />


            <div class="container">
                <div class="row">
                    <div class="col">

                    </div>

                    <div class="col-5">

                    </div>

                    <div class="col">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-controller="Knowledge" asp-action="KnowledgeBaseList" class="btn btn-danger">Cancel</a>
                    </div>
                </div>


    </form>
</div>
<div class="modal fade bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModalLabel">Category Name</h4>
                </div>
                <div class="modal-body">
                    <form id="requestacallform" method="post" asp-controller="Knowledge" asp-action="AddCategory">

                        <div class="form-group">
                            <label>Add Category</label>
                            <div class="input-group">

                                <input id="first_name" asp-for="AddCategory.CategoryName" type="text" class="form-control" placeholder="Category Name" />
                                <span asp-validation-for="AddCategory.CategoryName" class="text-danger"></span>

                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>

                        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </form>
                </div>
                <div class="modal-footer">


                </div>
            </div>
        </div>
    </div>
</div>

<div id="wrapper">
    @* @if (ViewBag.AddCategorySuccess != null)
        {
            <script>alert("@ViewBag.AddCategorySuccess")</script>
        }
        @if (ViewBag.AddCategoryError != null)
        {
            <script>alert("@ViewBag.AddCategoryError")</script>
        }
        @if (ViewBag.AddKnowledgeBaseSuccess != null)
        {
            <script>alert("@ViewBag.AddKnowledgeBaseSuccess")</script>
        }
        @if (ViewBag.AddKnowledgeBaseError != null)
        {
            <script>alert("@ViewBag.AddKnowledgeBaseError")</script>
        }
        @if (ViewBag.UpdateKnowledgeBaseSuccess != null)
        {
            <script>alert("@ViewBag.UpdateKnowledgeBaseSuccess")</script>
        }
        @if (ViewBag.UpdateKnowledgeBaseError != null)
        {
            <script>alert("@ViewBag.UpdateKnowledgeBaseError")</script>
        }
    *@

    @if (ViewBag.AddCategorySuccess != null)
    {

        @* <script>alert("@ViewBag.AddCircularSuccess")</script>*@
        <div id="snackbar" class="snackbar-success "><i class="fa fa-check" aria-hidden="true"></i> @ViewBag.AddCategorySuccess</div>
        <script>
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        </script>
    }
    @if (ViewBag.AddCategoryError != null)
    {
        @* <script>alert("@ViewBag.AddCircularError")</script>*@
        <div id="snackbardanger"><i class="fa fa-times" aria-hidden="true"></i> @ViewBag.AddCategoryError</div>
        <script>
            var x = document.getElementById("snackbardanger");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        </script>
    }
    @if (ViewBag.AddKnowledgeBaseSuccess != null)
    {
        @* <script>alert("@ViewBag.UpdateCircularSuccess")</script>*@
        <div id="snackbar" class="snackbar-success"><i class="fa fa-check" aria-hidden="true"></i> @ViewBag.AddKnowledgeBaseSuccess</div>
        <script>
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        </script>
    }
    @if (ViewBag.AddKnowledgeBaseError != null)
    {
        @*<script>alert("@ViewBag.UpdateCircularError")</script>*@
        <div id="snackbardanger"><i class="fa fa-times" aria-hidden="true"></i> @ViewBag.AddKnowledgeBaseError</div>
        <script>
            var x = document.getElementById("snackbardanger");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        </script>
    }
    @if (ViewBag.UpdateKnowledgeBaseSuccess != null)
    {
        @* <script>alert("@ViewBag.UpdateCircularSuccess")</script>*@
        <div id="snackbar" class="snackbar-success"><i class="fa fa-check" aria-hidden="true"></i> @ViewBag.UpdateKnowledgeBaseSuccess</div>
        <script>
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        </script>
    }
    @if (ViewBag.UpdateKnowledgeBaseError != null)
    {
        @*<script>alert("@ViewBag.UpdateCircularError")</script>*@
        <div id="snackbardanger"><i class="fa fa-times" aria-hidden="true"></i> @ViewBag.UpdateKnowledgeBaseError</div>
        <script>
            var x = document.getElementById("snackbardanger");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        </script>
    }

    @if (ViewBag.DeleteKnowledgeBaseSuccess != null)
    {
        @* <script>alert("@ViewBag.UpdateCircularSuccess")</script>*@
        <div id="snackbar" class="snackbar-success"><i class="fa fa-check" aria-hidden="true"></i> @ViewBag.DeleteKnowledgeBaseSuccess</div>
        <script>
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        </script>
    }
</div>

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea#editor',
        skin: 'bootstrap',
        plugins: 'lists, link, image, media',
        toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help',
        menubar: true
    });
</script>





<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>