@model KnowledgeBaseList
@using System.Web 
@{
    ViewData["Title"] = "ViewKnowledgeBase";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
<style>
    .categoryName{
        font-weight:bold;
    }
    .categoryText {
        font-weight: 500;
        font-size:14px;
   
    }
</style>
<h1 class="mt-5">View Knowledge Base</h1>

<div class="container">
    <div class="border p-2 border-dark">

        <div class="row flex flex-row">
            <div class="col-sm-3">
                <h6 class="categoryName">Category </h6>
            </div>
            <div class="col-sm-9" style="margin-left:-9.5em;">

                <span class="categoryText">@Model.CategoryName</span>
            </div>
        </div>
      
        <div class="row">
            
                <div class="row flex flex-row">
                    <div class="col-sm-3" >

                        <h6 class="categoryName">Doc Title </h6>
                    </div>
                    <div class="col-sm-9" style="margin-left:-9em;">

                        <span class="categoryText">@Model.DocTitle</span>
                    </div>
                </div>


          
                <div class="row flex flex-row">
                    <div class="col-sm-3">

                        <h6 class="categoryName">Sub Title </h6>
                    </div>
                    <div class="col-sm-9 " style="margin-left:-9em;">

                        <span class="categoryText">@Model.SubTitle</span>
                    </div>
                </div>
          
        </div>
      
        <div class="row flex flex-row">
            <div class="col-sm-3 ">

                <h6 class="categoryName">Slug Url </h6>
            </div>
            <div class="col-sm-9" style="margin-left:-9em;">
                <a href="@Model.SlugUrl" class="categoryText">@Model.SlugUrl</a>
            </div>
        </div>
        <br />
       
        <div class="row flex flex-row">
            <div class="col-sm-3">

                <h6 class="categoryName">Add Context </h6>
            </div>
            <div class="col-sm-9" style="margin-left:-9em;">
                @Html.Raw(HttpUtility.HtmlDecode(@Model.AddContent))

            </div>
        </div>

        <div class="row flex flex-row">
            <div class="col-sm-12">
                <a class="pull-right btn btn-danger" asp-controller="Knowledge" asp-action="KnowledgeBaseList">Close</a>
            </div>
        </div>
    </div>
</div>
