@model Pager

@{
    ViewData["Title"] = "ManageClass";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<br />
<br />
<br />


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    .row {
        padding-top: 10px;
    }

    .btn-text-right {
        margin-left: 14.5%;
    }

    a {
        text-decoration: none;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
    }

    #viewUserModel {
        text-align: center;
        margin-left: 130px;
    }
</style>


<div class="container">
    <div class="row">
        <h2>Manage Principal</h2>
        <h4>Search Filter</h4>
    </div>
    <div class="row">

        <div class="form-group row col-sm-4">
            <label for="schoolName" class="col-sm-5 col-form-label">School Name</label>
            <div class="col-sm-7">
                <select class="form-control" id="schoolName">
                    <option disabled selected hidden>Select School</option>
                </select>
            </div>
        </div>

        <div class="form-group row col-sm-4">
            <label for="className" class="col-sm-5 col-form-label">Class Name :</label>
            <div class="col-sm-7">
                <select class="form-control" id="className">
                    <option disabled selected hidden>Select Class</option>
                </select>
            </div>
        </div>

        <div class="form-group row col-sm-4">
            <label for="status" class="col-sm-5 col-form-label">Status :</label>
            <div class="col-sm-7">
                <select class="form-control" id="status">
                    <option disabled selected hidden>Select Status</option>
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>
        </div>
        <div class="form-group row col-sm-4">
            <label for="date" class="col-sm-5 col-form-label">Date :</label>
            <div class="col-sm-7">
                <input type="date" value="" class="form-control" id="date" />
            </div>
        </div>

        <div class="form-group row col-sm-2 btn-text-right">
            <button type="button" class="btn btn-primary float-lg-end " onclick="searchClass()">Search</button>
        </div>
    </div>
</div>
<div class="col-md-11">
  
    <a asp-action="AddPrincipal" asp-controller="Principal" class="btn btn-primary btn-sm pull-right m-2"><span>Add New</span>   </a>

</div>

<div id="wrap" class="mt-3">
    <div class="container">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>School Name</th>
                    <th>Class Name</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tableData">
                @*   @if (Model.Count() == 0)
                    {
                        <tr colspan="6">No Data Found</tr>
                    }
                    else
                    {
                        int i = 0;
                        @foreach (var principal in Model)
                        {
                            <tr>
                                <td>@(i = i + 1)</td>
                                <td>@principal.SchoolName</td>
                                <td>@principal.Name</td>
                                <td>@principal.CreatedDate.ToShortDateString() </td>

                                <td>@(principal.IsActive == true ? "Active" : "Inactive")</td>

                                <td>
                                    <a asp-controller="Principal"
                                       asp-action="Edit"
                                       class="btn btn-link"
                                       asp-route-Id="@principal.Id">Edit</a>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal" onclick="ShowPrincipalDetail(@principal.Id)">
                                        View

                                </td>
                            </tr>
                        }
                    }*@


            </tbody>
        </table>
    </div>
</div>

<div class="container" id="paginationContainer">
    @if (Model.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <button class="btn btn-link page-link" onclick="loadAllClass(1)">First</button>
                </li>
                <li class="page-item">
                    <button class="btn btn-link page-link" onclick="loadAllClass(@(Model.CurrentPage-1))">Previous</button>
                </li>
            }
            @for (var pge = Model.StartPage; pge <= Model.Endpage; pge++)
            {
                <li class="page-item">
                    <button class="btn btn-link page-link" onclick="loadAllClass(@pge)">@pge</button>
                </li>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <button class="btn btn-link page-link" onclick="loadAllClass(@(Model.CurrentPage + 1))">Next</button>
                </li>
                <li class="page-item">
                    <button class="btn btn-link page-link" onclick="loadAllClass(@(Model.TotalPages))">Last</button>
                </li>
            }
        </ul>
    }
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datatable').DataTable({
            searching: false,
            "oLanguage": {
                "sLengthMenu": "Rows_Per_Page _MENU_",
            },
            "dom": '<"top"i>rt<"bottom"flp><"clear">'
        });
        $('.datatable').each(function () {
            var datatable = $(this);
            var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
            length_sel.addClass('form-control input-lg');
        });
    });
</script>

<div class="container">
    <!-- Button to Open the Modal -->
    @*  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            create class
        </button>*@

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="viewUserModel">View  Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <table class="table table-borderless">
                        <tr>
                            <th>
                                <label>School Name</label>
                            </th>
                            <td>
                                <span id="detailsShoolName"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>ClassName</label>
                            </th>
                            <td>
                                <span id="detailsName"></span>
                            </td>
                        </tr>
                      
                       
                       
                        <tr>
                            <th>
                                <label>Status</label>
                            </th>
                            <td>
                                <span id="detailsStatus"></span>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>
<script>
    function loadData() {
        console.log("worked");
        loadSchoolList();
        loadClassList();
        loadAllClass();
    }
    loadData();

    function ShowClasslDetail(id) {
        $.get("/Class/GetClassById", { Id: id }, function (data) {
            if (data) {

                $("#detailsShoolName").text(data.data.school.schoolName);
             
                $("#detailsName").text(data.data.className);
          
             
              
                data.data.isActive ? $("#detailsStatus").text("Active") : $("#detailsStatus").text("Inactive");
            }
        });
    }

    function loadSchoolList() {
        $.get("/Class/GetAllSchool", function (data) {
            $("#schoolName").append("<option disabled selected hidden>Select School</option>");
            data.forEach(function (school) {
                $('#schoolName').append('<option value="' + school.value + '">' + school.text + '</option>');
            });
        });
    }
    function loadClassList() {
        $.get("/Class/GetClassName", function (data) {
            $("#className").append("<option disabled selected hidden>Select Class</option>");
            data.forEach(function (classes) {
                $('#className').append('<option value="' + classes.value + '">' + classes.text + '</option>');
            });
        });
    }

    function searchClass() {
        $("#paginationContainer").remove();
        var _schoolName = $("#schoolName :selected").text();
        var _className = $("#className :selected").text();
        var _isActive = $("#status :selected").val();
        var _date = $("#date").val();
        $.get("/Class/GetClassByFilters?className=" + _className + "&schoolName=" + _schoolName + "&createdDate=" + _date + "&isActive=" + _isActive, function (data) {
            if (data.length > 0) {
                $("#tableData").empty();
                var id = 0;
                data.forEach(function (classes) {
                    id = id + 1;
                    var result = ` <tr>
                                <td>${id}</td>
                                <td>${classes.schoolName}</td>
                                <td>${classes.className}</td>
                                <td>${new Date(classes.createdDate).toLocaleDateString()}</td>

                                <td>${classes.isActive ? "Active" : "Inactive"}</td>

                                <td>
                                    <a asp-controller="Class"
                                       asp-action="Edit"
                                       class="btn btn-link"
                                       asp-route-Id="">Edit</a>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal" onclick="ShowClassDetail(${classes.id})">
                                        View

                                </td>
                            </tr>`;
                    $("#tableData").append(result);
                });
            }
            else {
                $("#tableData").empty();
                var emptyData = `<tr>
                <td colspan="6" class="text-center">
                No Record Found</tr ></td>`;
                $("#tableData").append(emptyData);
            }
        });
    }
    function loadAllClass(number = 1) {
        $.get(`/Class/GetAllClasssDetailsByPagination?page=${number}`, function (data) {
            console.log(data);
            if (data.length > 0) {
                $("#tableData").empty();
                var id = 0;
                data.forEach(function (classes) {

                    id = id + 1;
                    var result = ` <tr>
                                <td>${id}</td>
                                <td>${classes.schoolName}</td>
                                <td>${classes.className}</td>
                                <td>${new Date(classes.createdDate).toLocaleDateString()}</td>

                                <td>${classes.isActive ? "Active" : "Inactive"}</td>

                                <td>
                                    <a asp-controller="Class"
                                       asp-action="Edit"
                                       class="btn btn-link"
                                       asp-route-Id="">Edit</a>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal" onclick="ShowClasslDetail(${classes.id})">
                                        View

                                </td>
                            </tr>`;
                    $("#tableData").append(result);
                });
            }
            else {
                $("#tableData").empty();
                var emptyData = `<tr>
                <td colspan="6" class="text-center">
                No Record Found</tr ></td>`;
                $("#tableData").append(emptyData);
            }
        });
    }

</script>
