@model FeedbackModel
@{
    ViewData["Title"] = "Manage Feedback";
    Layout = "~/Views/Shared/_ParentLayout.cshtml";

}
<style>
    .row {
        padding-top: 10px;
    }

    .btn-text-right {
        margin-left: 14.5%;
    }

    a {
        text-decoration: none;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
        /* margin: 0;
        padding: 0;
        color: green;*/
    }

    #viewUserModel {
        text-align: center;
        margin-left: 130px;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
    }



    #snackbar {
        background-color: green;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }


        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    #snackbardanger {
        background-color: red;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbardanger.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    @@-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    @@keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }
</style>
<h3 class="p-4 mt-4">Manage Feedback</h3>



<div id="wrap" class="mt-5">
    <div class="container-fluid">
        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover  ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Feedback Title</th>

                    <th>Class Name</th>
                    <th>Section Name</th>
                    <th>Subject</th>

                    <th>Send Date</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @{ int i = 1; }
                @foreach (var item in Model.GetFeedbackList)
                {
                    <tr>
                        <td>
                            <label>@i</label>
                            @{ i++; }
                        </td>
                        <td>@Html.DisplayFor(modelItem => @item.feedbackTitle)</td>

                        <td>@Html.DisplayFor(modelItem => @item.ClassName)</td>
                        <td>@Html.DisplayFor(modelItem => @item.SectionName)</td>
                        <td>@Html.DisplayFor(modelItem => @item.SubjectName)</td>

                        <td>@Html.DisplayFor(modelItem => @item.SendDate)</td>

                        <td>




                            <div>
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#viewFeedbackData" onclick="ShowFeedbackDetail(@item.Id)">
                                    View
                                </button>

                            </div>


                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*<div class="col-md-11">


        <div class="container">
             The Modal
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                         Modal Header
                        <div class="modal-header">
                            <h4 class="modal-title text-center">Send Feedback</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <p style="font-weight: bold; margin-left: 0.5em;">All <span style="color:red;">*</span> fields are mandatory</p>

                         Modal body
                        <div class="modal-body">
                            <form method="post" novalidate enctype="multipart/form-data" asp-action="SendFeedbackData" asp-controller="Feedback">

                                <table class="table table-borderless">


                                    <tr>
                                        <th>
                                            <label>Select Subject<span class="text-danger">*</span></label>
                                        </th>
                                        <td>

                                            <select class="form-control" asp-for="AddNewFeedbacks.SubjectId" asp-items="Model.Subjects" id="subject">
                                                <option disabled selected hidden>Select Subject</option>
                                            </select>
                                            <span asp-validation-for="AddNewFeedbacks.SubjectId" class="text-danger"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>
                                            <label>Comments<span class="text-danger">*</span></label>
                                        </th>
                                        <td>
                                            <textarea id="description" asp-for="AddNewFeedbacks.Comments" rows="4" cols="40"></textarea>
                                            <span asp-validation-for="AddNewFeedbacks.Comments" class="text-danger"></span>

                                        </td>
                                    </tr>

                                </table>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-primary float-lg-end ButtonDesign" value="Send" name="SendFeedbackData"  />

                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>

                            </form>


                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>*@

<!-- The Modal -->
<div class="modal" id="viewFeedbackData">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-center" id="viewUserModel">View Feedack</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table class="table table-borderless">
                    <tr>
                        <th>
                            <label>Subject</label>
                        </th>
                        <td>
                            <span id="detailsSubject"></span>
                        </td>
                    </tr>




                    <tr>
                        <th>
                            <label>Comments</label>
                        </th>
                        <td>
                            <span id="detailsComments"></span>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datatable').DataTable({
            searching: true,
            "oLanguage": {
                "sLengthMenu": "Page Size _MENU_",
            },
            /* "dom": '<"top"i>rt<"bottom"flp><"clear">'*/
        });
        $('.datatable').each(function () {
            var datatable = $(this);
            var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
            length_sel.addClass('form-control input-lg');
        });
    });


    function ShowFeedbackDetail(id) {
        $.get("/Feedback/ViewFeedbackData", { Id: id }, function (data) {
            console.log(data);
            if (data) {
                $("#detailsSubject").text(data.data.subject.subjectName);

                $("#detailsComments").text(data.data.feedbackComments);

            }
        });
    }

</script>


<script>
    function loadData() {
        console.log("worked");
        /* loadAllFeedback();*/

    }
    loadData();



    //function loadAllFeedback() {
    //    $.get("/Feedback/GetFeedbackType", function (data) {
    //        $("#feedbacktitle").append("<option disabled selected hidden>Select Feedback Title</option>");
    //        data.forEach(function (feedbacks) {
    //            $('#feedbacktitle').append('<option value="' + feedbacks.value + '">' + feedbacks.text + '</option>');
    //        });
    //    });
    //}
</script>


