@model FAQList
@using System.Web
@{
    ViewData["Title"] = "ViewFAQ";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
<style>
    .categoryName {
        font-weight: bold;
    }

    .categoryText {
        font-weight: 500;
        font-size: 14px;
    }
</style>
<h1 class="mt-5">View FAQ</h1>

<div class="container">
    <div class="border p-5 border-dark">

        <div class="row flex flex-row">
            <div class="col-sm-5 col-md-3">

                <h5 class="categoryName">Category </h5>
            </div>
            <div class="col-sm-5 col-md-5 pt-1">

                <span class="categoryText">@Model.CategoryName</span>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
       <div class="col-sm-6">
                <div class="row flex flex-row">
                    <div class="col-sm-5 col-md-3">

                        <h5 class="categoryName">Question </h5>
                    </div>
                    <div class="col-sm-5 col-md-5 pt-1">

                        <span class="categoryText">@Model.Question</span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row flex flex-row">
            <div class="col-sm-5 col-md-3">

                <h5 class="categoryName" id="status">Status </h5>
            </div>
            <div class="col-sm-5 col-md-5 pt-1">
                <a href="@Model.IsActive" class="categoryText">@Model.IsActive</a>
            </div>
        </div>
        <br />
        <br />
        <div class="row flex flex-row">
            <div class="col-sm-5 col-md-3">

                <h5 class="categoryName">Add Content </h5>
            </div>
            <div class="col-sm-5 col-md-9 pt-1">
                @Html.Raw(HttpUtility.HtmlDecode(@Model.Content));

            </div>
        </div>

        <br />
        <br />
        <div>

            <a class="pull-right btn btn-danger" asp-controller="FAQ" asp-action="FAQList">Close</a>
        </div>
    </div>
</div>
