@model Pager

@{
    ViewData["Title"] = "School Details";
    Layout = "~/Views/Shared/_InstituteLayout.cshtml";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<br />
<br />
<br />



<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@
<style>
    .row {
        padding-top: 10px;
    }

    .btn-text-right {
        margin-left: 14.5%;
    }

    a {
        text-decoration: none;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
    }

    #viewUserModel {
        text-align: center;
        margin-left: 130px;
    }
</style>


<div class="row">
    <h2>Manage School</h2>
    <h4>Search Filter</h4>
</div>
<div class="row">

    <div class="form-group row col-sm-4">
        <label for="instituteName" class="col-sm-5 col-form-label">Institute Name</label>
        <div class="col-sm-7">
            <select class="form-control" id="instituteName">
                <option value="" disabled selected hidden>Select Institute</option>
            </select>
        </div>
    </div>

    <div class="form-group row col-sm-4">
        <label for="schoolName" class="col-sm-5 col-form-label">School Name :</label>
        <div class="col-sm-7">
            <select class="form-control" id="name">
                <option value="" disabled selected hidden>Select School</option>
            </select>
        </div>
    </div>

    <div class="form-group row col-sm-4">
        <label for="schoolState" class="col-sm-5 col-form-label">State</label>
        <div class="col-sm-7">
            <select class="form-select" onchange="GetCityById()" id="schoolState">
                <option value="" disabled selected>Select State</option>
            </select>
        </div>
    </div>

    <div class="form-group row col-sm-4">
        <label for="cityName" class="col-sm-5 col-form-label">City</label>
        <div class="col-sm-7">
            <select class="form-control" id="cityName">
                <option disabled selected hidden>Select City</option>
            </select>
        </div>
    </div>




    <div class="form-group row col-sm-4">
        <label for="status" class="col-sm-5 col-form-label">Status :</label>
        <div class="col-sm-7">
            <select class="form-control" id="status">
                <option value="true" selected>Active</option>
                <option value="false">Inactive</option>
            </select>
        </div>
    </div>
    <div class="form-group row col-sm-4">
        <label for="date" class="col-sm-5 col-form-label">Date :</label>
        <div class="col-sm-7">
            <input type="date" value="" class="form-control" id="date" />
        </div>
    </div>

    <div class="form-group row col-sm-2 btn-text-right">
        <button type="button" class="btn btn-primary btn-sm pull-right m-2 " onclick="searchSchool()">Search</button>
    </div>

</div>

<div class="col-md-11">
    <a asp-controller="School" asp-action="DownloadExcel" class="btn btn-sm btn-primary pull-right m-2" download>Export</a>

    <button class="btn btn-sm btn-primary pull-right m-2">Upload</button>
    <a href="#" class="pull-right btn btn-sm btn-link m-2">Download Sample Template</a>
    <a asp-action="AddSchool" asp-controller="School" class="btn btn-primary btn-sm pull-right m-2"><span>Add New</span>   </a>

</div>

<div id="wrap" class="mt-3">
    <div class="container">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Institute Name</th>
                    <th>School Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tableData">
            </tbody>
        </table>
    </div>
</div>

<div class="container" id="paginationContainer">
    <span class="justify-content-start">
        <label>Rows Per Page</label>
        <select class="" id="rowsPerPage" onchange="loadAllSchool()">
            <option value="5" selected>5</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </span>
    @if (Model.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <button class="btn btn-link page-link" onclick="loadAllSchool(1)">First</button>
                </li>
                <li class="page-item">
                    <button class="btn btn-link page-link" onclick="loadAllSchool(@(Model.CurrentPage-1))">Previous</button>
                </li>
            }
            @for (var pge = Model.StartPage; pge <= Model.Endpage; pge++)
            {
                <li class="page-item">
                    <button class="btn btn-link page-link" onclick="loadAllSchool(@pge)">@pge</button>
                </li>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <button class="btn btn-link page-link" onclick="loadAllSchool(@(Model.CurrentPage + 1))">Next</button>
                </li>
                <li class="page-item">
                    <button class="btn btn-link page-link" onclick="loadAllSchool(@(Model.TotalPages))">Last</button>
                </li>
            }
        </ul>
    }
</div>
<div id="wrapper">
    @if (ViewBag.AddSchoolSuccess != null)
    {
        <script>alert("@ViewBag.AddSchoolSuccess")</script>
    }
    @if (ViewBag.AddSchoolError != null)
    {
        <script>alert("@ViewBag.AddSchoolError")</script>
    }
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datatable').DataTable({
            searching: false,
            "oLanguage": {
                "sLengthMenu": "Rows_Per_Page _MENU_",
            },
            "dom": '<"top"i>rt<"bottom"flp><"clear">'
        });
        $('.datatable').each(function () {
            var datatable = $(this);
            var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
            length_sel.addClass('form-control input-lg');
        });
    });
</script>

<div class="container">
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="viewUserModel">View School Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <table class="table table-borderless">
                        <tr>
                            <th>
                                <label>Institute</label>
                            </th>
                            <td>
                                <span id="detailsInstituteName"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>School</label>
                            </th>
                            <td>
                                <span id="detailsShoolName"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>AddressLine 1</label>
                            </th>
                            <td>
                                <span id="detailsAddressLine1"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>AddressLine 2</label>
                            </th>
                            <td>
                                <span id="detailsAddressLine2"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Email</label>
                            </th>
                            <td>
                                <span id="detailsEmail"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Contact Person</label>
                            </th>
                            <td>
                                <span id="detailsContactPerson"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Mobile</label>
                            </th>
                            <td>
                                <span id="detailsMobile"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>City</label>
                            </th>
                            <td>
                                <span id="detailsCity"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>State</label>
                            </th>
                            <td>
                                <span id="detailsState"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Zip</label>
                            </th>
                            <td>
                                <span id="detailsZip"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Status</label>
                            </th>
                            <td>
                                <span id="detailsStatus"></span>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    function GetCityById() {
        var stateValue = $("#schoolState :selected").val();
        //You can check selected value using alert

        if (stateValue != null) {
            $.get("/School/GetCityByStateId", { id: stateValue }, function (data) {
                console.log(data);
                $("#cityName").empty();
                $("#cityName").append("<option disabled selected hidden>Select City</option>");
                data.forEach(function (city) {
                    $('#cityName').append('<option value="' + city.value + '">' + city.text + '</option>');
                });
            });
        }
    }
</script>



<script>
    function loadData() {
        console.log("worked");
        loadSchoolList();
        loadStateList();
        loadInstituteList();
        loadAllSchool();


    }
    loadData();

    function ShowSchoolDetail(id) {
        $.get("/School/GetSchoolById", { Id: id }, function (data) {
            if (data) {

                $("#detailsInstituteName").text(data.data.institute.instituteName);
                $("#detailsAddressLine1").text(data.data.addressLine1);
                $("#detailsAddressLine2").text(data.data.addressLine2);
                $("#detailsShoolName").text(data.data.schoolName);
                $("#detailsEmail").text(data.data.email);
                $("#detailsMobile").text(data.data.mobile);
                $("#detailsCity").text(data.data.city.cityName);
                $("#detailsState").text(data.data.state.stateName);
                $("#detailsZip").text(data.data.zip.zipcode);
                $("#detailsContactPerson").text(data.data.contactPerson);
                data.data.isActive ? $("#detailsStatus").text("Active") : $("#detailsStatus").text("Inactive");
            }
        });
    }


    function loadStateList() {
        $.get("/School/GetAllState", function (data) {
            $("#schoolState").append("<option disabled selected hidden>Select State</option>");
            data.forEach(function (state) {
                $('#schoolState').append('<option value="' + state.value + '">' + state.text + '</option>');
            });
        });
    }



    function searchSchool() {
        $("#paginationContainer").remove();
        var _schoolName = $("#name :selected").text();

        var _instituteName = $("#instituteName :selected").text();

        var _cityName = $("#cityName :selected").text();

        var _stateName = $("#schoolState :selected").text();

        var _isActive = $("#status :selected").val();

        var _date = $("#date").val();

     @*   $.get("/School/GetSchoolByFilters?schoolName=" + _schoolName + "&instituteName=" + _instituteName + "&city=" + _cityName + "&state=" + _stateName + "&isActive=" + _isActive+"&createdDate="+_date, function (data) { console.log(data); });

        alert("hello");*@



        $.get("/School/GetSchoolByFilter?schoolName=" + _schoolName + "&instituteName=" + _instituteName + "&city=" + _cityName + "&state=" + _stateName, "&isActive=" + _isActive+ "&createdDate=" + _date, function (data) {
            if (data.length > 0) {
                $("#tableData").empty();
                var id = 0;
                data.forEach(function (school) {
                    id = id + 1;
                    var result = ` <tr>
                                 <td>${id}</td>
                                <td>${school.instituteName}</td>
                                <td>${school.name}</td>
                                 <td>${school.cityName}</td>
                                  <td>${school.stateName}</td>

                                <td>${new Date(school.createdDate).toLocaleDateString()}</td>

                                <td>${school.isActive ? "Active" : "Inactive"}</td>

                          <td>
                                   <a href="/School/EditSchool/${school.id}"
                                       class="btn btn-link"
                                       >Edit</a>

                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal" onclick="ShowSchoolDetail(${school.id})">
                                        View

                                </td>
                            </tr>`;
                    $("#tableData").append(result);
                });
            }
            else {
                $("#tableData").empty();
                var emptyData = `<tr>
                <td colspan="8" class="text-center">
                No Record Found</tr ></td>`;
                $("#tableData").append(emptyData);
            }
        });
    }




    function loadInstituteList() {
        $.get("/School/GetAllInstitute", function (data) {
            $("#instituteName").append("<option disabled selected hidden>Select institute</option>");
            data.forEach(function (institute) {
                $('#instituteName').append('<option value="' + institute.value + '">' + institute.text + '</option>');
            });
        });
    }

    function loadSchoolList() {
        $.get("/School/GetSchoolName", function (data) {
            $("#name").append("<option disabled selected hidden>Select School</option>");
            data.forEach(function (school) {
                $('#name').append('<option value="' + school.value + '">' + school.text + '</option>');
            });
        });
    }









    function loadAllSchool(number = 1) {
        var size = $("#rowsPerPage :selected").val();
        $.get(`/School/GetAllSchoolDetailsByPagination?page=${number}&size=${size}`, function (data) {
            console.log(data);
            if (data.length > 0) {
                $("#tableData").empty();
                var id = 0;
                data.forEach(function (school) {

                    id = id + 1;
                    var result = ` <tr>
                                <td>${id}</td>
                                <td>${school.instituteName}</td>
                                <td>${school.name}</td>
                                  <td>${school.cityName}</td>
                                   <td>${school.stateName}</td>

                                <td>${new Date(school.createdDate).toLocaleDateString()}</td>

                                <td>${school.isActive ? "Active" : "Inactive"}</td>

                                <td>
                                    <a href="/School/EditSchool/${school.id}"
                                       class="btn btn-link"
                                       >Edit</a>

                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal" onclick="ShowSchoolDetail(${school.id})">
                                        View

                                </td>
                            </tr>`;
                    $("#tableData").append(result);
                });
            }
            else {
                $("#tableData").empty();
                var emptyData = `<tr>
                <td colspan="8" class="text-center">
                No Record Found</tr ></td>`;
                $("#tableData").append(emptyData);
            }
        });
    }

</script>

