@model FeedbackModel
@{
    ViewData["Title"] = "Manage Feedback";
    Layout = "~/Views/Shared/_PrincipalLayout.cshtml";

}
<style>
    .row {
        padding-top: 10px;
    }

    .btn-text-right {
        margin-left: 14.5%;
    }

    a {
        text-decoration: none;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
        /* margin: 0;
        padding: 0;
        color: green;*/
    }

    #viewUserModel {
        text-align: center;
        margin-left: 130px;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
    }



    #snackbar {
        background-color: green;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }


        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    #snackbardanger {
        background-color: red;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbardanger.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    @@-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    @@keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }
</style>
<h3 class="p-4 mt-4">Manage Feedback</h3>



<div id="wrap" class="mt-5">
    <div class="container-fluid">
        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover  ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Feedback Title</th>

                    <th>Class Name</th>
                    <th>Section Name</th>
                    <th>Subject</th>
                    <th>Type</th>
                    <th>Send Date</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @{ int i = 1; }
                @foreach (var item in Model.GetFeedbackList)
                {
                    <tr>
                        <td>
                            <label>@i</label>
                            @{ i++; }
                        </td>
                        <td>@Html.DisplayFor(modelItem => @item.feedbackTitle)</td>

                        <td>@Html.DisplayFor(modelItem => @item.ClassName)</td>
                        <td>@Html.DisplayFor(modelItem => @item.SectionName)</td>
                        <td>@Html.DisplayFor(modelItem => @item.SubjectName)</td>
                        <td>@Html.DisplayFor(modelItem => @item.FeedbackType)</td>
                        <td>@Html.DisplayFor(modelItem => @item.SendDate)</td>

                        <td>




                            <div>
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#viewFeedbackData" onclick="ShowFeedbackDetail(@item.Id)">
                                    View
                                </button>

                            </div>


                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<!-- The Modal -->
<div class="modal" id="viewFeedbackData">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-center" id="viewUserModel">View Feedack</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table class="table table-borderless">

                    <tr>
                        <th>
                            <label>Title</label>
                        </th>
                        <td>
                            <span id="detailsTitle"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label>Type</label>
                        </th>
                        <td>
                            <span id="detailsType"></span>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <label>Class</label>
                        </th>
                        <td>
                            <span id="detailsClass"></span>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <label>Section</label>
                        </th>
                        <td>
                            <span id="detailsSection"></span>
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <label>Subject</label>
                        </th>
                        <td>
                            <span id="detailsSubject"></span>
                        </td>
                    </tr>


                    <tr>
                        <th>
                            <label>Comments</label>
                        </th>
                        <td>
                            <span id="detailsComments"></span>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datatable').DataTable({
            searching: true,
            "oLanguage": {
                "sLengthMenu": "Page Size _MENU_",
            },
   
        });
        $('.datatable').each(function () {
            var datatable = $(this);
            var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
            length_sel.addClass('form-control input-lg');
        });
    });


    function ShowFeedbackDetail(id) {
        $.get("/Feedback/ViewFeedbackData", { Id: id }, function (data) {
            console.log(data);
            if (data) {
                $("#detailsTitle").text(data.data.feedbackTitle.feedback_Title);

                $("#detailsType").text(data.data.type);

                $("#detailsClass").text(data.data.classes.className);

                $("#detailsSection").text(data.data.section.sectionName);

                $("#detailsSubject").text(data.data.subject.subjectName);

                $("#detailsComments").text(data.data.feedbackComments);

            }
        });
    }

</script>


<script>
    function loadData() {
        console.log("worked");
      

    }
    loadData();



</script>


