@model EventsDetailsModel
@{
    ViewData["Title"] = "Event List";
    Layout = "~/Views/Shared/_PrincipalLayout.cshtml";

}
<style>
    .row {
        padding-top: 10px;
    }

    .btn-text-right {
        margin-left: 14.5%;
    }

    a {
        text-decoration: none;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
       
    }

    #viewUserModel {
        text-align: center;
        margin-left: 130px;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
    }



    #snackbar {
        background-color: green;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }


        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    #snackbardanger {
        background-color: red;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbardanger.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    @@-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    @@keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }
</style>

<div id="wrap" class="mt-5">
    <div class="container-fluid">
        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Event Title</th>
                    <th>Event Coordinator</th>
                    <th>Event Date and Time</th>
                    <th>Venue</th>
                    <th>Status</th>
                    <th>Created Date</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @{ int i = 1; }
                @foreach (var item in Model.GetEventsListBySchoolId)
                {
                    <tr>
                        <td>
                            <label>@i</label>
                            @{ i++; }
                        </td>
                        <td>@Html.DisplayFor(modelItem => @item.EventTitle)</td>
                        <td>@Html.DisplayFor(modelItem => @item.EventCoordinator)</td>
                        <td>@Html.DisplayFor(modelItem => @item.EventDateTime)</td>
                        <td>@Html.DisplayFor(modelItem => @item.Venue)</td>
                        <td>@Html.DisplayFor(modelItem => @item.statusName)</td>
                        <td>@Html.DisplayFor(modelItem => @item.CreatedDate)</td>
                        <td>
                            @if (item.Status)
                            {
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#viewEventData" onclick="ShowEventDetail(@item.Id)">
                                    View
                                </button>

                            }

                            else
                            {<div>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editEventsData" onclick="EditEventData(@item.Id)">
                                        Edit
                                    </button>
                                </div>}

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="col-sm-12">
    <button type="button" class="btn btn-primary pull-right m-2" data-toggle="modal" data-target="#myModal">
        Create Event
    </button>
</div>
<div class="col-md-11">


    <div class="container">
        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title text-center">Create Event</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <p style="font-weight: bold; margin-left: 0.5em;">All <span style="color:red;">*</span> fields are mandatory</p>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form method="post" novalidate enctype="multipart/form-data" asp-action="SendEventsData" asp-controller="Principal">

                            <table class="table table-borderless">
                          
                                <tr>
                                    <th>
                                        <label>Title<span class="text-danger">*</span></label>
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" asp-for="AddNewEvents.EventTitle" id="eventstitle" />
                                        <span asp-validation-for="AddNewEvents.EventTitle" class="text-danger"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label>Description<span class="text-danger">*</span></label>
                                    </th>
                                    <td>
                                        <textarea id="description" asp-for="AddNewEvents.Description" rows="4" cols="40"></textarea>
                                        <span asp-validation-for="AddNewEvents.Description" class="text-danger"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <th> <label>Date and Time<span class="text-danger">*</span></label></th>
                                    <td>
                                        <input type="datetime-local" class="form-control" id="eventsdatetime" asp-for="AddNewEvents.EventDateTime" />
                                        <span asp-validation-for="AddNewEvents.EventDateTime" class="text-danger"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label>Venue<span class="text-danger">*</span></label>
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" asp-for="AddNewEvents.Venue" id="eventstitle" />
                                        <span asp-validation-for="AddNewEvents.Venue" class="text-danger"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label>Coordinator<span class="text-danger">*</span></label>
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" asp-for="AddNewEvents.EventCoordinator" id="eventstitle" />
                                        <span asp-validation-for="AddNewEvents.EventCoordinator" class="text-danger"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label>
                                            Co-ordinator Contact No<span class="text-danger">*</span>
                                        </label>
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" asp-for="AddNewEvents.CoordinatorNumber" id="eventstitle" />
                                        <span asp-validation-for="AddNewEvents.CoordinatorNumber" class="text-danger"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label>File</label>
                                    </th>
                                    <td>

                                        @Html.TextBoxFor(m => m.AddNewEvents.fileUpload, new { type = "file" })
                                        <br />
                                        @Html.ValidationMessageFor(m => m.AddNewEvents.fileUpload, "", new { @class = "text-danger" })
                                    </td>
                                </tr>

                                <tr>
                                    <th>
                                        <label>Image</label>
                                    </th>
                                    <td>

                                        @Html.TextBoxFor(m => m.AddNewEvents.imageUpload, new { type = "file" })
                                        <br />
                                        @Html.ValidationMessageFor(m => m.AddNewEvents.imageUpload, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                            </table>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary float-lg-end ButtonDesign" value="Send" name="SendEventsData" />
                                <input type="submit" class="btn btn-primary float-lg-end ButtonDesign" value="Save" name="SendEventsData" />
                                @*  <a href="/Institute/SaveCircular" class="btn btn-primary float-lg-end ButtonDesign">Save</a>*@
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </form>


                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="col-md-11">
    <div class="container">
        <!-- The Modal -->
        <div class="modal" id="viewEventData">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title text-center">View Event</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <table class="table table-borderless">
                            <tr>
                                <th>
                                    <label>School Name</label>
                                </th>
                                <td>
                                    <span id="detailsSchoolName"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Event Title</label>
                                </th>
                                <td>
                                    <span id="detailsEventTitle"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Description</label>
                                </th>
                                <td>
                                    <span id="detailsDescription"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Venue</label>
                                </th>
                                <td>
                                    <span id="detailsVenue"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Co-ordinator</label>
                                </th>
                                <td>
                                    <span id="detailsCoordinator"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Co-ordinator Contact No.</label>
                                </th>
                                <td>
                                    <span id="detailsContact"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>File</label>
                                </th>
                                <td>
                                    <a href="" id="detailsUploadedFile"></a>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Image</label>
                                </th>
                                <td>

                                    <img src="" id="detailsImage" height="200" width="300" />

                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-md-11">


    <div class="container">

        <div class="modal" id="editEventsData">
            <div class="modal-dialog">
                <div class="modal-content">


                    <div class="modal-header">
                        <h4 class="modal-title text-center">Edit Events</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>


                    <div class="modal-body">
                        <p style="font-weight: bold; margin-left: 0.5em;">All <span style="color:red;">*</span> fields are mandatory</p>
                        <form method="post" novalidate enctype="multipart/form-data" asp-action="UpdateEventsData" asp-controller="Principal">

                            @Html.HiddenFor(m => m.UpdateEventsById.Id, new { id = "eventsId", name = "eventsId" })
                            <table class="table table-borderless">
                         
                                <tr>
                                    <th>
                                        <label>Title<span class="text-danger">*</span></label>
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" asp-for="UpdateEventsById.EventTitle" id="updateeventstitle" />
                                        <span asp-validation-for="UpdateEventsById.EventTitle" class="text-danger"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label>Description<span class="text-danger">*</span></label>
                                    </th>
                                    <td>
                                        <textarea id="updatedescription" asp-for="UpdateEventsById.Description" rows="4" cols="40"></textarea>
                                        <span asp-validation-for="UpdateEventsById.Description" class="text-danger"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <th> <label>Date and Time<span class="text-danger">*</span></label></th>
                                    <td>
                                        <input type="datetime-local" class="form-control" id="updateeventsdatetime" asp-for="UpdateEventsById.EventDateTime" />
                                        <span asp-validation-for="UpdateEventsById.EventDateTime" class="text-danger"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label>Venue<span class="text-danger">*</span></label>
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" asp-for="UpdateEventsById.Venue" id="updateeventsvenue" />
                                        <span asp-validation-for="UpdateEventsById.Venue" class="text-danger"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label>Coordinator<span class="text-danger">*</span></label>
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" asp-for="UpdateEventsById.EventCoordinator" id="updateeventscoordinator" />
                                        <span asp-validation-for="UpdateEventsById.EventCoordinator" class="text-danger"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label>
                                            Co-ordinator Contact No<span class="text-danger">*</span>
                                        </label>
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" asp-for="UpdateEventsById.CoordinatorNumber" id="updateeventsnumber" />
                                        <span asp-validation-for="UpdateEventsById.CoordinatorNumber" class="text-danger"></span>

                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label>File</label>  :

                                    </th>
                                    <td>
                                        <div class="row">
                                            <span id="filenameremove">
                                            </span>
                                            @Html.HiddenFor(m => m.UpdateEventsById.File, new { id = "filename", name = "filename" })
                                            <a id="filenameremove"></a>
                                            <button type="button" class="close" id="removeButton" name="Cancel" onclick="removeFileName()" value="checked" style=" width: 0em; margin-left: 24em; margin-top: 0.3em;">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                    </td>


                                </tr>

                                <tr>
                                    <td colspan="2">

                                        @Html.TextBoxFor(m => m.UpdateEventsById.fileUpload, new { type = "file", Style = "margin-left:9.8em;", onclick = "removeFileName()" })
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label>File</label>  :

                                    </th>
                                    <td>
                                        <div class="row">
                                            <img src="" id="imagenameremove" height="200" width="300" />
                                            @Html.HiddenFor(m => m.UpdateEventsById.Image, new { id = "imagename", name = "imagename" })


                                            <button type="button" class="close" id="removeimageButton" name="Cancel" onclick="removeImageName()" value="checked" style=" width: 0em; margin-left: 24em; margin-top: 0.3em;">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                    </td>


                                </tr>

                                <tr>
                                    <td colspan="2">

                                        @Html.TextBoxFor(m => m.UpdateEventsById.imageUpload, new { type = "file", accept = "image/*", Style = "margin-left:9.8em;", onchange = "loadFile(event)" })
                                        <img id="output" />
                                    </td>
                                </tr>


                            </table>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary float-lg-end ButtonDesign" value="Send" name="UpdateEventsData" />
                                <input type="submit" class="btn btn-primary float-lg-end ButtonDesign" value="Save" name="UpdateEventsData" />

                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>



                        </form>


                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datatable').DataTable({
            searching: true,
            "oLanguage": {
                "sLengthMenu": "Page Size _MENU_",
            },
            /* "dom": '<"top"i>rt<"bottom"flp><"clear">'*/
        });
        $('.datatable').each(function () {
            var datatable = $(this);
            var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
            length_sel.addClass('form-control input-lg');
        });
    });


    function ShowEventDetail(id) {
        $.get("/Institute/ViewEventsData", { Id: id }, function (data) {
            console.log(data);
            if (data) {
                $("#detailsSchoolName").text(data.data.school.schoolName);
                $("#detailsEventTitle").text(data.data.eventTitle);
                $("#detailsDescription").text(data.data.description);
                $("#detailsVenue").text(data.data.venue);
                $("#detailsCoordinator").text(data.data.eventCoordinator);
                $("#detailsContact").text(data.data.coordinatorNumber);

                if (data.data.file != null) {

                    $("#detailsUploadedFile").text(data.data.file);
                    $("#detailsUploadedFile").attr("href", `/Institute/ViewFileData?fileName=${data.data.file}`)
                } else {
                    $("#detailsUploadedFile").text("No File Uploaded");
                    $("#detailsUploadedFile").attr("href", "#")
                }


                if (data.data.image != null) {
                    /* $("#detailsImage").text(data.data.image);*/
                    $("#detailsImage").attr("src", `/Upload/EventsImage/${data.data.image}`);
                } else {
                    $("#detailsImage").text("No Image Uploaded");
                    $("#detailsImage").attr("href", "#")

                }
            }
        });
    }

    function removeFileName() {
        $('#filenameremove').text("");
        $('#removeButton').remove();
        $("#filename").val(null);
    }


    function removeImageName() {
        $('#imagenameremove').attr("src", "");
        $('img').hide();
        $('#removeimageButton').remove();
        $('#imagename').val(null);
    }

    var loadFile = function (event) {

        var output = document.getElementById('imagenameremove');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }

    };
    function EditEventData(id) {
        $.get("/Principal/ViewEventsData", { Id: id }, function (data) {
            console.log(data);
            if (data) {
                $("#eventsId").val(data.data.id);
               
                $("#updateeventstitle").val(data.data.eventTitle);
                $("#updatedescription").text(data.data.description);
                $("#updateeventsvenue").val(data.data.venue);
                $("#updateeventscoordinator").val(data.data.eventCoordinator);
                $("#updateeventsnumber").val(data.data.coordinatorNumber);
                $("#updateeventsdatetime").val(data.data.eventDateTime);

                if (data.data.file != null) {
                    $("#filenameremove").text(data.data.file);
                    $("#filename").val(data.data.file);
                    $("#filenameremove").attr("href", `/Institute/ViewFileData?fileName=${data.data.file}`)

                }
                else {
                    $('#removeButton').remove();
                }

                if (data.data.image != null) {

                    $("#imagename").val(data.data.image);
                    $("#imagenameremove").attr("src", `/Upload/EventsImage/${data.data.image}`);
                } else {
                    $('#removeButton').remove();

                }

            }
        });
    }
</script>