@model IEnumerable<PrincipalDetailsViewModel>

@{
    ViewData["Title"] = "Institute Details";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
<br />
<br />
<br />



<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    .row {
        padding-top: 10px;
    }

    .btn-text-right {
        margin-left: 14.5%;
    }

    a {
        text-decoration: none;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
    }

    #viewUserModel {
        text-align: center;
        margin-left: 130px;
    }
</style>

<div class="container">
    <div class="row">
        <h2>Manage Principal</h2>
        <h4>Search Filter</h4>
    </div>
    <div class="row">

        <div class="form-group row col-sm-4">
            <label for="schoolName" class="col-sm-5 col-form-label">School Name</label>
            <div class="col-sm-7">
                <select class="form-control" id="schoolName">
                    <option disabled selected hidden>Select School</option>
                </select>
            </div>
        </div>

        <div class="form-group row col-sm-4">
            <label for="principalName" class="col-sm-5 col-form-label">Principal Name :</label>
            <div class="col-sm-7">
                <select class="form-control" id="principalName">
                    <option disabled selected hidden>Select Principal</option>
                </select>
            </div>
        </div>

        <div class="form-group row col-sm-4">
            <label for="status" class="col-sm-5 col-form-label">Status :</label>
            <div class="col-sm-7">
                <select class="form-control" id="status">
                    <option disabled selected hidden>Select Status</option>
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
            </div>
        </div>
        <div class="form-group row col-sm-4">
            <label for="date" class="col-sm-5 col-form-label">Date :</label>
            <div class="col-sm-7">
                <input type="date" value="" class="form-control" id="date" />
            </div>
        </div>

        <div class="form-group row col-sm-2 btn-text-right">
            <button type="button" class="btn btn-primary float-lg-end " onclick="searchPrincipal()">Search</button>
        </div>
    </div>
</div>
<div class="col-md-11">
    <button class="btn btn-sm btn-primary pull-right m-2">Export</button>
    <button class="btn btn-sm btn-primary pull-right m-2">Upload</button>
    <a href="#" class="pull-right btn btn-sm btn-link m-2">Download Sample Template</a>
    <a asp-action="AddPrincipal" asp-controller="Principal" class="btn btn-primary btn-sm pull-right m-2"><span>Add New</span>   </a>

</div>

<div id="wrap" class="mt-3">
    <div class="container">
        <table cellpadding="0" cellspacing="0" border="0" width="100&" class="datatable table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>School Name</th>
                    <th>Principal Name</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tableData">
                @*   @if (Model.Count() == 0)
                    {
                        <tr colspan="6">No Data Found</tr>
                    }
                    else
                    {
                        int i = 0;
                        @foreach (var principal in Model)
                        {
                            <tr>
                                <td>@(i = i + 1)</td>
                                <td>@principal.SchoolName</td>
                                <td>@principal.Name</td>
                                <td>@principal.CreatedDate.ToShortDateString() </td>

                                <td>@(principal.IsActive == true ? "Active" : "Inactive")</td>

                                <td>
                                    <a asp-controller="Principal"
                                       asp-action="Edit"
                                       class="btn btn-link"
                                       asp-route-Id="@principal.Id">Edit</a>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal" onclick="ShowPrincipalDetail(@principal.Id)">
                                        View

                                </td>
                            </tr>
                        }
                    }*@


            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datatable').DataTable({
            searching: false,
            "oLanguage": {
                "sLengthMenu": "Rows_Per_Page _MENU_",
            },
            "dom": '<"top"i>rt<"bottom"flp><"clear">'
        });
        $('.datatable').each(function () {
            var datatable = $(this);
            var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
            length_sel.addClass('form-control input-lg');
        });
    });
</script>

<div class="container">
    <!-- Button to Open the Modal -->
    @*  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            create class
        </button>*@

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="viewUserModel">View User Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <table class="table table-borderless">
                        <tr>
                            <th>
                                <label>School</label>
                            </th>
                            <td>
                                <span id="detailsShoolName"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Name</label>
                            </th>
                            <td>
                                <span id="detailsName"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>AddressLine 1</label>
                            </th>
                            <td>
                                <span id="detailsAddressLine1"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>AddressLine 2</label>
                            </th>
                            <td>
                                <span id="detailsAddressLine2"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Email</label>
                            </th>
                            <td>
                                <span id="detailsEmail"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Username</label>
                            </th>
                            <td>
                                <span id="detailsUsername"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Mobile</label>
                            </th>
                            <td>
                                <span id="detailsMobile"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>City</label>
                            </th>
                            <td>
                                <span id="detailsCity"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>State</label>
                            </th>
                            <td>
                                <span id="detailsState"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Zip</label>
                            </th>
                            <td>
                                <span id="detailsZip"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Status</label>
                            </th>
                            <td>
                                <span id="detailsStatus"></span>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>
<script>
    function loadData() {
        console.log("worked");
        loadSchoolList();
        loadPrincipalList();
        loadAllPrincipal();
    }
    loadData();

    function ShowPrincipalDetail(id) {
        $.get("/Principal/GetPrincipalById", { Id: id }, function (data) {
            if (data) {

                $("#detailsShoolName").text(data.data.school.schoolName);
                $("#detailsAddressLine1").text(data.data.addressLine1);
                $("#detailsAddressLine2").text(data.data.addressLine2);
                $("#detailsName").text(data.data.name);
                $("#detailsEmail").text(data.data.email);
                $("#detailsMobile").text(data.data.mobile);
                $("#detailsCity").text(data.data.city.cityName);
                $("#detailsState").text(data.data.state.stateName);
                $("#detailsZip").text(data.data.zip.zipcode);
                $("#detailsUsername").text(data.data.username);
                data.data.isActive ? $("#detailsStatus").text("Active") : $("#detailsStatus").text("Inactive");
            }
        });
    }

    function loadSchoolList() {
        $.get("/Principal/GetAllSchool", function (data) {
            $("#schoolName").append("<option disabled selected hidden>Select School</option>");
            data.forEach(function (school) {
                $('#schoolName').append('<option value="' + school.value + '">' + school.text + '</option>');
            });
        });
    }
    function loadPrincipalList() {
        $.get("/Principal/GetPrincipalName", function (data) {
            $("#principalName").append("<option disabled selected hidden>Select Principal</option>");
            data.forEach(function (principal) {
                $('#principalName').append('<option value="' + principal.value + '">' + principal.text + '</option>');
            });
        });
    }

    function searchPrincipal() {
        var _schoolName = $("#schoolName :selected").text();
        var _principalName = $("#principalName :selected").text();
        var _isActive = $("#status :selected").val();
        var _date = $("#date").val();
        $.get("/Principal/GetPrincipalByFilters?principalName=" + _principalName + "&schoolName=" + _schoolName + "&createdDate=" + _date + "&isActive=" + _isActive, function (data) {
            if (data.length > 0) {
                    $("#tableData").empty();
                    var id = 0;
                data.forEach(function (principal) {
                    id = id + 1;
                    var result = ` <tr>
                                <td>${id}</td>
                                <td>${principal.schoolName}</td>
                                <td>${principal.name}</td>
                                <td>${new Date(principal.createdDate).toLocaleDateString()}</td>

                                <td>${principal.isActive ? "Active" : "Inactive"}</td>

                                <td>
                                    <a asp-controller="Principal"
                                       asp-action="Edit"
                                       class="btn btn-link"
                                       asp-route-Id="">Edit</a>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal" onclick="ShowPrincipalDetail(${principal.id})">
                                        View

                                </td>
                            </tr>`;
                    $("#tableData").append(result);
                });
            }
            else {
                $("#tableData").empty();
                var emptyData = `<tr>
                <td colspan="6" class="text-center">
                No Record Found</tr ></td>`;
                $("#tableData").append(emptyData);
            }
        });
    }
    function loadAllPrincipal() {

        $.get("/Principal/GetAllPrincipalDetails", function (data) {
            console.log(data);
            if (data.length > 0) {
                $("#tableData").empty();
                var id = 0;
                data.forEach(function (principal) {
                    
                    id = id + 1;
                    var result = ` <tr>
                                <td>${id}</td>
                                <td>${principal.schoolName}</td>
                                <td>${principal.name}</td>
                                <td>${new Date(principal.createdDate).toLocaleDateString()}</td>

                                <td>${principal.isActive ? "Active" : "Inactive"}</td>

                                <td>
                                    <a asp-controller="Principal"
                                       asp-action="Edit"
                                       class="btn btn-link"
                                       asp-route-Id="">Edit</a>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal" onclick="ShowPrincipalDetail(${principal.id})">
                                        View

                                </td>
                            </tr>`;
                    $("#tableData").append(result);
                });
            }
            else {
                $("#tableData").empty();
                var emptyData = `<tr>
                <td colspan="6" class="text-center">
                No Record Found</tr ></td>`;
                $("#tableData").append(emptyData);
            }
        });
    }
</script>

