@model Pager


@{
    ViewData["Title"] = "Institute Details";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<br />
<br />
<br />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@

<style>
    .row {
        padding-top: 10px;
    }

    .btn-text-right {
        margin-left: 14.5%;
    }

    a {
        text-decoration: none;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
        margin: 0;
        padding: 0;
    }

    #viewUserModel {
        text-align: center;
        margin-left: 130px;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
    }



    #snackbar {
        background-color: green;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }


        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    #snackbardanger {
        background-color: red;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbardanger.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    @@-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    @@keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }

    }
  
</style>
<h2> Institute List</h2>
<h4>Search Filter</h4>

<div class="row">

    <div class="form-group row col-sm-4">
        <label for="instituteName" class="col-sm-5 col-form-label">Institute</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="instituteName" placeholder="Institute name">
        </div>
    </div>

    <div class="form-group row col-sm-4">
        <label for="instituteState" class="col-sm-5 col-form-label">State</label>
        <div class="col-sm-7">
            <select class="form-select" onchange="GetCityById()" id="instituteState">
                <option value="" disabled selected>Select State</option>
            </select>
        </div>
    </div>

    <div class="form-group row col-sm-4">
        <label for="city" class="col-sm-3 col-form-label">City</label>
        <div class="col-sm-9">
            <select class="form-control" id="city">
                <option disabled selected hidden>Select City</option>
            </select>
        </div>
    </div>

    <div class="form-group row col-sm-4">
        <label for="status" class="col-sm-5 col-form-label">Status</label>
        <div class="col-sm-7">
            <select class="form-control" id="status">
                <option value="true" selected>Active</option>
                <option value="false">Inactive</option>
            </select>
        </div>
    </div>

    <div class="form-group row col-sm-4">
        <label for="date" class="col-sm-5 col-form-label">Lisence Expiry</label>
        <div class="col-sm-7">
            <input type="date" value="" class="form-control" id="date" />
        </div>
    </div>   

    <div class="form-group row col-sm-2 " style="margin-left:9em;">
        <button type="button" class="btn btn-primary" onclick="searchInstitute()">Search</button>
    </div>

</div>


<div class="col-md-11">
    <div  class="" style="padding-right:20px;">

        <a asp-controller="Institute" asp-action="DownloadExcel" class="  btn btn-primary pull-right m-2 " download>Export</a>

        <a asp-action="AddInstitute" asp-controller="Institute" class="btn btn-primary pull-right m-2"><span>Add New</span>   </a>
    </div>
    <div class="col-sm-9">
        <a href="#" class="btn  btn-primary pull-right m-2 " style="margin:100px;">Upload</a>
        <a href="#" class="pull-right btn  btn-link m-2">Download Sample Template</a>
    </div>
</div>

<div id="wrap" class="mt-3">
    <div class="container">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Institute Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Created Date</th>
                    <th>Expiry Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tableData">
               

            </tbody>
        </table>
    </div>
</div>

<div class="container" id="paginationContainer">
    <span class="justify-content-start">
        <label>Rows Per Page</label>
        <select class="" id="rowsPerPage" onchange="loadAllInstitute()">
            <option value="5" selected>5</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </span>
    @if (Model.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <button class="btn btn-link page-link" onclick="loadAllInstitute(1)">First</button>
                </li>
                <li class="page-item">
                    <button class="btn btn-link page-link" onclick="loadAllInstitute(@(Model.CurrentPage-1))">Previous</button>
                </li>
            }
            @for (var pge = Model.StartPage; pge <= Model.Endpage; pge++)
            {
                <li class="page-item">
                    <button class="btn btn-link page-link" onclick="loadAllInstitute(@pge)">@pge</button>
                </li>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <button class="btn btn-link page-link" onclick="loadAllInstitute(@(Model.CurrentPage + 1))">Next</button>
                </li>
                <li class="page-item">
                    <button class="btn btn-link page-link" onclick="loadAllInstitute(@(Model.TotalPages))">Last</button>
                </li>
            }
        </ul>
    }

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datatable').DataTable({
            searching: false,
            "oLanguage": {
                "sLengthMenu": "Rows_Per_Page _MENU_",
            },
            "dom": '<"top"i>rt<"bottom"flp><"clear">'
        });
        $('.datatable').each(function () {
            var datatable = $(this);
            var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
            length_sel.addClass('form-control input-lg');
        });
    });
</script>


<div class="container">


    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="viewUserModel">Institute Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <table class="table table-borderless">
                        <tr>
                            <th>
                                <label>Institute Name :</label>
                            </th>
                            <td>
                                <span id="detailsInstituteName"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Address Line 1 :</label>
                            </th>
                            <td>
                                <span id="detailsAddressLine1"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Address Line 2 :</label>
                            </th>
                            <td>
                                <span id="detailsAddressLine2"></span>
                            </td>
                        </tr>

                        <tr>

                            <th>
                                <label>City</label>
                            </th>
                            <td>
                                <span id="detailsCity"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>State</label>
                            </th>
                            <td>
                                <span id="detailsState"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Zip</label>
                            </th>
                            <td>
                                <span id="detailsZip"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Contact Person :</label>
                            </th>
                            <td>
                                <span id="detailsContactPerson"></span>
                            </td>
                        <tr>
                        <tr>
                            <th>
                                <label>Email</label>
                            </th>
                            <td>
                                <span id="detailsEmail"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Mobile</label>
                            </th>
                            <td>
                                <span id="detailsMobile"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Username</label>
                            </th>
                            <td>
                                <span id="detailsUsername"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>License Expiry :</label>
                            </th>
                            <td>
                                <span id="detailsLicense"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Status</label>
                            </th>
                            <td>
                                <span id="detailsStatus"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>Institute URL</label>
                            </th>
                            <td>
                                <span id="detailsInstituteURL"></span>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>



<div id="wrapper">
    @if (ViewBag.AddInstituteSuccess != null)
    {

        @* <script>alert("@ViewBag.AddCircularSuccess")</script>*@
        <div id="snackbar" class="snackbar-success "><i class="fa fa-check" aria-hidden="true"></i> @ViewBag.AddInstituteSuccess</div>
        <script>
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        </script>
    }
    @if (ViewBag.AddInstituteError != null)
    {
        @* <script>alert("@ViewBag.AddCircularError")</script>*@
        <div id="snackbardanger"><i class="fa fa-times" aria-hidden="true"></i> @ViewBag.AddInstituteError</div>
        <script>
            var x = document.getElementById("snackbardanger");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        </script>
    }


    @if (ViewBag.UpdateInstituteSuccess != null)
    {
        @* <script>alert("@ViewBag.UpdateCircularSuccess")</script>*@
        <div id="snackbar" class="snackbar-success"><i class="fa fa-check" aria-hidden="true"></i> @ViewBag.UpdateInstituteSuccess</div>
        <script>
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        </script>
    }
    @if (ViewBag.UpdateInstituteError != null)
    {
        @*<script>alert("@ViewBag.UpdateCircularError")</script>*@
        <div id="snackbardanger"><i class="fa fa-times" aria-hidden="true"></i> @ViewBag.UpdateInstituteError</div>
        <script>
            var x = document.getElementById("snackbardanger");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        </script>
    }


</div>


<script type="text/javascript">
    function GetCityById() {
        var stateValue = $("#instituteState :selected").val();
        //You can check selected value using alert

        if (stateValue != null) {
            $.get("/Institute/GetCityByStateId", { id: stateValue }, function (data) {
                console.log(data);
                $("#city").empty();
                $("#city").append("<option disabled selected hidden>Select City</option>");
                data.forEach(function (city) {
                    $('#city').append('<option value="' + city.value + '">' + city.text + '</option>');
                });
            });
        }
    }
</script>



<script>
    function loadData() {
        console.log("worked");
        loadStateList();
        loadAllInstitute();
    }
    loadData();

    function ShowInstituteDetail(id) {
        $.get("/Institute/GetInstituteById", { Id: id }, function (data) {
            console.log(data);
            if (data) {

                $("#detailsInstituteName").text(data.data.instituteName);
                $("#detailsAddressLine1").text(data.data.addressLine1);
                $("#detailsAddressLine2").text(data.data.addressLine2);
                $("#detailsCity").text(data.data.city.cityName);
                $("#detailsState").text(data.data.state.stateName);
                $("#detailsZip").text(data.data.zip.zipcode);
                $("#detailsContactPerson").text(data.data.contactPerson);
                $("#detailsEmail").text(data.data.email);
                $("#detailsMobile").text(data.data.mobile);
                $("#detailsUsername").text(data.data.username);
                $("#detailsLicense").text(new Date(data.data.licenseExpiry).toLocaleDateString());
                data.data.isActive ? $("#detailsStatus").text("Active") : $("#detailsStatus").text("Inactive");
                $("#detailsInstituteURL").text(data.data.instituteURL);
                
            }
        });
    }

    
    function loadStateList() {
        $.get("/Institute/GetAllState", function (data) {
            $("#instituteState").append("<option disabled selected hidden>Select State</option>");
            data.forEach(function (state) {
                $('#instituteState').append('<option value="' + state.value + '">' + state.text + '</option>');
            });
        });
    }

    function searchInstitute() {
        $("#paginationContainer").remove();
        var _instituteName = $("#instituteName").val();
        var _stateName = $("#instituteState :selected").text();
        var _cityName = $("#city :selected").text();
        var _isActive = $("#status :selected").val();
        var _date = $("#date").val();
        $.get("/Institute/GetInstituteByFilters?instituteName=" + _instituteName + "&city=" + _cityName + "&state=" + _stateName + "&isActive=" + _isActive +  "&licenseExpiry=" + _date , function (data) {
            if (data.length > 0) {
                $("#tableData").empty();
                var id = 0;
                data.forEach(function (institute) {
                    id = id + 1;
                    var result = ` <tr>
                                <td>${id}</td>
                                <td>${institute.instituteName}</td>
                                <td>${institute.cityName}</td>
                                <td>${institute.stateName}</td>
                                <td>${new Date(institute.createdDate).toLocaleDateString()}</td>
                                <td>${new Date(institute.licenseExpiry).toLocaleDateString()}</td>
                                <td>${institute.isActive ? "Active" : "Inactive"}</td>

                                <td>
                                   <a href="/Institute/EditInstitute/${institute.id}"  class="btn btn-link"  >Edit</a>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal" onclick="ShowInstituteDetail(${institute.id})">
                                        View

                                </td>
                            </tr>`;
                    $("#tableData").append(result);
                });
            }
            else {
                $("#tableData").empty();
                var emptyData = `<tr>
                <td colspan="8" class="text-center">
                No Record Found</tr ></td>`;
                $("#tableData").append(emptyData);
            }
        });
    }
    function loadAllInstitute(number = 1) {
        var size = $("#rowsPerPage :selected").val();
        $.get(`/Institute/GetAllInstituteDetailsByPagination?page=${number}&size=${size}`, function (data) {
            console.log(data);
            if (data.length > 0) {
                $("#tableData").empty();
                var id = 0;
                data.forEach(function (institute) {

                    id = id + 1;
                    var result = ` <tr>
                               <td>${id}</td>
                                <td>${institute.instituteName}</td>
                                <td>${institute.cityName}</td>
                                <td>${institute.stateName}</td>
                                <td>${new Date(institute.createdDate).toLocaleDateString()}</td>
                                <td>${new Date(institute.licenseExpiry).toLocaleDateString()}</td>
                                <td>${institute.isActive ? "Active" : "Inactive"}</td>

                                <td>
                                    <a href="/Institute/EditInstitute/${institute.id}"  class="btn btn-link"  >Edit</a>
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal" onclick="ShowInstituteDetail(${institute.id})">
                                        View

                                </td>
                            </tr>`;
                    $("#tableData").append(result);
                });
            }
            else {
                $("#tableData").empty();
                var emptyData = `<tr>
                <td colspan="8" class="text-center">
                No Record Found</tr ></td>`;
                $("#tableData").append(emptyData);
            }
        });
    }

</script>

