@model GallaryDetailsModel

@{
    ViewData["Title"] = "ManageGallary";
    Layout = "~/Views/Shared/_InstituteLayout.cshtml";

}

<!--<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="~/Content/all.min.css" rel="stylesheet" />
<link href="~/Content/ekko-lightbox.css" rel="stylesheet" />
<script src="~/Scripts/ekko-lightbox.min.js"></script>-->
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@



<style>
    #borderimg1 {
        border-radius: 1em;
    }
</style>
<br />
<br />

<div class="mt-4">
    <span style="font-size:30px;font-weight:300">Gallary </span>
    <button type="button" class="btn btn-primary " style="margin-left:42em;" data-toggle="modal" data-target="#uploadModal">
        Upload
    </button>
</div>

<div id="btnContainer">

    <button class="btn dark" onclick="location.href='@Url.Action("ListGallary","Institute")'"> <i class="fa fa-bars"></i>List</button>


    <button class="btn" onclick="location.href='@Url.Action("ManageGallary","Institute")'"> <i class="fa fa-th-large"></i>Grid</button>
</div>


<!-- Modal -->
<div id="uploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- Form -->
                <form method="post" novalidate enctype="multipart/form-data" asp-action="UploadImage" asp-controller="Institute">

                    <div class="form-group row col-md-12">
                        <label for="status">Event Type </label>
                        <div class="col-md-12">
                            <select class="form-control" asp-for="AddGallary.SchoolId" asp-items="Model.Schools" id="school">
                                <option disabled selected hidden> Select School</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group row col-md-12">
                        <label for="status">Event Type </label>
                        <div class="col-md-12">
                            <select class="form-control" asp-for="AddGallary.EventsTableId" asp-items="Model.Events" id="event">
                                <option disabled selected hidden> Select Events</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row col-md-12">
                        <label for="status">File Type </label>
                        <div class="col-md-12">
                            <select class="form-control" asp-for="AddGallary.FileType" asp-items="Model.FileType" id="filetype" onchange="Filetypevalid()">
                                <option disabled selected hidden> Select Type</option>
                                <option value="image/jpeg">JPEG</option>
                                <option value="image/png">PNG</option>
                                <option value="image/jpeg">JPG</option>
                                <option value="application/pdf">pdf</option>
                                <option value="application/pdf">pdf</option>
                                <option value="application/pdf">pdf</option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group row col-md-12">
                        <label for="fileTitle" class="col-sm-3 col-form-label">File Name</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" asp-for="AddGallary.FileName" id="eventstitle" placeholder="Enter File Name" />
                        </div>
                    </div>

                    <label for="uploadfile" class="col-sm-3 col-form-label">Select File</label>

                    @Html.TextBoxFor(m => m.AddGallary.imageUpload, new { type = "file" })
                    <br />
                    @Html.ValidationMessageFor(m => m.AddGallary.imageUpload, "", new { @class = "text-danger" })


                    <div>
                        <input type='submit' class='btn btn-info' value='Upload' id='btn_upload'>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </form>

                <!-- GallaryMain-->
                <div>



                </div>


            </div>

        </div>

    </div>
</div>



    <div class="row">
        @if (Model.GetGallaryList != null)
        {
            foreach (var item in Model.GetGallaryList)
            {
                <div class="col-sm-4">
                    <a href="~/Upload/Gallary/@item.image" download="w3logo" class="pop">

                        <img src="~/Upload/Gallary/@item.image" width="400" height="400" asp-append-version="true" id="borderimg1" data-toggle="lightbox" Type="Thumbnail" alt="white sample">
                    </a>
                    <a href="@Url.Action("DeleteGallary","Institute",new { id=@item.Id})" style="float:right">Delete</a>


                </div>
            }

        }

    </div>




    <script>
        function Filetypevalid() {

            var filetype = $("#filetype :selected").val();
            $("#file").attr("accept", filetype);
        }
    </script>


    @*<a href="#" class="pop">
            <img src="http://upload.wikimedia.org/wikipedia/commons/2/22/Turkish_Van_Cat.jpg" style="width: 400px; height: 264px;">
        </a>*@

    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" data-dismiss="modal">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <img src="" class="imagepreview" style="width: 100%;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Download</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>


            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('.pop').on('click', function () {
                $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                $('#imagemodal').modal('show');
            });
        });
    </script>

    <script>

        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });
        });


    </script>


