@model StudentModel 
@{
    ViewData["Title"] = "AddStudent";
}
<style>
    .row {
        padding-top: 10px;
    }

    .btn-text-right {
        margin-left: 14.5%;
    }

    a {
        text-decoration: none;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
        margin: 0;
        padding: 0;
    }

    #viewUserModel {
        text-align: center;
        margin-left: 130px;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
    }



    #snackbar {
        background-color: green;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }


        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    #snackbardanger {
        background-color: red;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbardanger.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    @@-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    @@keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }
    .spacing {
        margin-left: 30px;
    }

</style>
<h4 class="m-3">Add Student</h4>

<div class="m-2">
    <p style="font-weight: bold; margin-left: 0.5em;">All <span style="color:red;">*</span> fields are mandatory</p>

    <div class="border border-dark p-3">
        <div class="row">
            <form method="post" asp-action="AddStudent" asp-controller="User">
               
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="user" class="col-sm-3 col-form-label">User Type<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-control" asp-for="UserType" id="user">
                                    <option value="" disabled selected>Select User</option>
                                    <option value="Teacher"> Teacher</option>
                                    <option value="Student"> Student</option>
                                    <option value="Parents"> Parents</option>

                                </select>
                                <span asp-validation-for="UserType" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="address1" class="col-sm-3 col-form-label">Address 1<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="AddressLine1" class="form-control" id="address1" placeholder="Address 1">
                                <span asp-validation-for="AddressLine1" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label">Student Name<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="StudentName" class="form-control" id="StudentName" placeholder="Enter Name">
                                <span asp-validation-for="StudentName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="address2" class="col-sm-3 col-form-label">Address 2<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="AddressLine2" class="form-control" id="address2" placeholder="Address 2">
                                <span asp-validation-for="AddressLine2" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                </div>
                <br />
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label">Email<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="email" asp-for="Email" class="form-control" id="email" placeholder="user@example.com">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="state" class="col-sm-3 col-form-label">State<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-control" asp-for="StateId" asp-items="Model.States" id="state" onchange="GetCityById()">
                                    <option disabled selected hidden> Select State</option>
                                </select>
                                <span asp-validation-for="StateId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="mobile" class="col-sm-3 col-form-label">Mobile<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Mobile" class="form-control" id="mobile" placeholder="Mobile Number">
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="city" class="col-sm-3 col-form-label">City<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-control" id="city" asp-for="CityId" onchange="GetZipByCityId()">
                                    <option disabled selected hidden> Select City</option>
                                </select>
                                <span asp-validation-for="CityId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="class" class="col-sm-3 col-form-label">Class<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-control" id="class" asp-for="ClassId" asp-items="Model.Classes">
                                    <option disabled selected hidden> Select Class</option>
                                </select>
                                <span asp-validation-for="ClassId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="zip" class="col-sm-3 col-form-label">Zip<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-control" id="zip" asp-for="ZipId">
                                </select>
                                <span asp-validation-for="ZipId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="section" class="col-sm-3 col-form-label">Section<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-control" id="section" asp-for="SectionId" asp-items="Model.Sections">
                                    <option disabled selected hidden> Select Section</option>
                                </select>
                                <span asp-validation-for="SectionId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="username" class="col-sm-3 col-form-label">Username<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Username" class="form-control" id="username" placeholder="Username">
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <br />

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="password" class="col-sm-3 col-form-label">Password<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div class="form-group row">
                            <label for="status" class="col-sm-3 col-form-label">Status</label>

                            <div class="col-sm-9">
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(m => m.IsActive, true, new { @class = "form-check-input" })<label class="form-check-label" for="inlineRadio2">Active</label>

                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(m => m.IsActive, false, new { @class = "form-check-input", @checked = "checked" }) <label class="form-check-label" for="inlineRadio1">InActive</label>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Confirm Password <span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="password" asp-for="ConfirmPassword" class="form-control" id="password" placeholder="Password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">

                </div>
              
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <div class="col-sm-12">

                                <a asp-action="ManageStudentUsers" asp-controller="User" class="btn btn-danger pull-right m-1"><span>Cancel</span>   </a>
                                <span class="m-1 pull-right"></span>
                                <button type="submit" class="btn btn-primary pull-right m-1">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="wrapper">
    @if (ViewBag.AddStudentSuccess != null)
    {

        @* <script>alert("@ViewBag.AddCircularSuccess")</script>*@
        <div id="snackbar" class="snackbar-success "><i class="fa fa-check" aria-hidden="true"></i> @ViewBag.AddStudentSuccess</div>
        <script>
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        </script>
    }
    @if (ViewBag.AddStudentError != null)
    {
        @* <script>alert("@ViewBag.AddCircularError")</script>*@
        <div id="snackbardanger"><i class="fa fa-times" aria-hidden="true"></i> @ViewBag.AddStudentError</div>
        <script>
            var x = document.getElementById("snackbardanger");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        </script>
    }


   

</div>

<script type="text/javascript">
    function GetCityById() {
        var stateValue = $("#state :selected").val();
        //You can check selected value using alert

        if (stateValue != null) {
            $.get("/User/GetCityByStateId", { id: stateValue }, function (data) {
                console.log(data);
                $("#city").empty();
                $("#zip").empty();
                $("#zip").append("<option disabled selected hidden>Select Zip</option>");
                $("#city").append("<option disabled selected hidden>Select City</option>");
                data.forEach(function (city) {
                    $('#city').append('<option value="' + city.value + '">' + city.text + '</option>');
                });
            });
        }
    }
    function GetZipByCityId() {
        var cityValue = $("#city :selected").val();
        //You can check selected value using alert

        if (cityValue != null) {
            $.get("/User/GetZipByCityId", { cityId: cityValue }, function (data) {
                console.log(data);
                $("#zip").empty();
                $("#zip").append("<option disabled selected hidden>Select Zip</option>");
                data.forEach(function (zip) {
                    $('#zip').append('<option value="' + zip.value + '">' + zip.text + '</option>');
                });
            });
        }
    }
</script>