@model EventsDetailsModel
@{
    ViewData["Title"] = "Event List";
    var role = Convert.ToString(Context.Request.Cookies["RoleName"]);   
    if (role == "Parent")
    {
        Layout = "~/Views/Shared/_ParentLayout.cshtml";
    }
    else if (role == "Student")
    {
        Layout = "~/Views/Shared/_StudentLayout.cshtml";
    }

}
<style>
    .row {
        padding-top: 10px;
    }

    .btn-text-right {
        margin-left: 14.5%;
    }

    a {
        text-decoration: none;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
        margin: 0;
        padding: 0;
        color: green;
    }

    #viewUserModel {
        text-align: center;
        margin-left: 130px;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
    }



    #snackbar {
        background-color: green;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }


        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    #snackbardanger {
        background-color: red;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbardanger.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    @@-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    @@keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }
</style>

<div id="wrap" class="mt-5">
    <div class="container-fluid">
        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Event Title</th>
                    <th>Description</th>
                    <th>Event Coordinator</th>
                    <th>Event Date and Time</th>
                    <th>Venue</th>                    
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @{ int i = 1; }
                @foreach (var item in Model.GetEventsListBySchoolId)
                {
                <tr>
                    <td>
                        <label>@i</label>
                        @{ i++; }
                    </td>
                    <td>@Html.DisplayFor(modelItem => @item.EventTitle)</td>
                    <td>@Html.DisplayFor(modelItem => @item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => @item.EventCoordinator)</td>
                    <td>@Html.DisplayFor(modelItem => @item.EventDateTime)</td>
                    <td>@Html.DisplayFor(modelItem => @item.Venue)</td>

                    <td>
                        <a href="#">View</a>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datatable').DataTable({
            searching: true,
            "oLanguage": {
                "sLengthMenu": "Page Size _MENU_",
            },
           /* "dom": '<"top"i>rt<"bottom"flp><"clear">'*/
        });
        $('.datatable').each(function () {
            var datatable = $(this);
            var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
            length_sel.addClass('form-control input-lg');
        });
    });
</script>