@model EventsDetailsModel
@{
    ViewData["Title"] = "Event List";
    var role = Convert.ToString(Context.Request.Cookies["RoleName"]);   
    if (role == "Parent")
    {
        Layout = "~/Views/Shared/_ParentLayout.cshtml";
    }
    else if (role == "Student")
    {
        Layout = "~/Views/Shared/_StudentLayout.cshtml";
    }

}
<style>
    .row {
        padding-top: 10px;
    }

    .btn-text-right {
        margin-left: 14.5%;
    }

    a {
        text-decoration: none;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
      
    }

    #viewUserModel {
        text-align: center;
        margin-left: 130px;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
    }



    #snackbar {
        background-color: green;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }


        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    #snackbardanger {
        background-color: red;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbardanger.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    @@-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    @@keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }
</style>
<div class="mt-4">
    <span style="font-size:30px;font-weight:300">Manage Events</span>
   
</div>
<div id="wrap" class="mt-4">
    <div class="container-fluid">
        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Event Title</th>
                    <th>Description</th>
                    <th>Event Coordinator</th>
                    <th>Event Date and Time</th>
                    <th>Venue</th>                    
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @{ int i = 1; }
                @foreach (var item in Model.GetEventsListBySchoolId)
                {
                <tr>
                    <td>
                        <label>@i</label>
                        @{ i++; }
                    </td>
                    <td>@Html.DisplayFor(modelItem => @item.EventTitle)</td>
                    <td>@Html.DisplayFor(modelItem => @item.Description  )</td>
                    <td>@Html.DisplayFor(modelItem => @item.EventCoordinator)</td>
                    <td>@Html.DisplayFor(modelItem => @item.EventDateTime)</td>
                    <td>@Html.DisplayFor(modelItem => @item.Venue)</td>

                    <td>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#viewEventData" onclick="ShowEventDetail(@item.Id)">
                            View
                        </button>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-11">
    <div class="container">
        <!-- The Modal -->
        <div class="modal" id="viewEventData">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title text-center">View Event</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <table class="table table-borderless">
                            <tr>
                                <th>
                                    <label>School Name</label>
                                </th>
                                <td>
                                    <span id="detailsSchoolName"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Event Title</label>
                                </th>
                                <td>
                                    <span id="detailsEventTitle"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Description</label>
                                </th>
                                <td>
                                    <span id="detailsDescription"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Venue</label>
                                </th>
                                <td>
                                    <span id="detailsVenue"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label style="width:100px !important;">Co-ordinator</label>
                                </th>
                                <td>
                                    <span id="detailsCoordinator"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Contact No.</label>
                                </th>
                                <td>
                                    <span id="detailsContact"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>File</label>
                                </th>
                                <td>
                                    <a href="" id="detailsUploadedFile"></a>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label>Image</label>
                                </th>
                                <td>

                                    <img src="" id="detailsImage" height="200" width="300" />

                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datatable').DataTable({
            searching: true,
            "oLanguage": {
                "sLengthMenu": "Page Size _MENU_",
            },
           /* "dom": '<"top"i>rt<"bottom"flp><"clear">'*/
        });
        $('.datatable').each(function () {
            var datatable = $(this);
            var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
            length_sel.addClass('form-control input-lg');
        });
    });

    function ShowEventDetail(id) {
        $.get("/User/ViewEventsData", { Id: id }, function (data) {
            console.log(data);
            if (data) {
                $("#detailsSchoolName").text(data.data.school.schoolName);
                $("#detailsEventTitle").text(data.data.eventTitle);
                $("#detailsDescription").text(data.data.description);
                $("#detailsVenue").text(data.data.venue);
                $("#detailsCoordinator").text(data.data.eventCoordinator);
                $("#detailsContact").text(data.data.coordinatorNumber);

                if (data.data.file != null) {

                    $("#detailsUploadedFile").text(data.data.file);
                    $("#detailsUploadedFile").attr("href", `/Institute/ViewFileData?fileName=${data.data.file}`)
                } else {
                    $("#detailsUploadedFile").text("No File Uploaded");
                    $("#detailsUploadedFile").attr("href", "#")
                }


                if (data.data.image != null) {
                    /* $("#detailsImage").text(data.data.image);*/
                    $("#detailsImage").attr("src", `/Upload/EventsImage/${data.data.image}`);
                } else {
                    $("#detailsImage").attr("src", `/Upload/EventsImage/defaultevent.png`);

                }
            }
        });
    }
</script>